.container {
  display: flex;
  margin: auto;
  width: 80vw;
  justify-content: center;
}

.numberOfProducts {
  width: 20rem;
  height: 15rem;
  border: 2px solid grey;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}
.delete-trash {
  cursor: pointer;
}

.logged {
  fill: #4caf50 !important;
}

.fav-empty-msg {
  width: 19rem;

  margin: auto;
}

.upload-success {
  width: 10rem;
  height: 12rem;
  margin: auto;
}

.upload-success-text {
  text-align: center;
  font-size: 18px;
}

.upload-success > img {
  width: 10rem;
}

.order-success > img {
  width: 10rem;
  margin: auto;
}

.carousel-item {
  height: 40rem !important;
}

.order-success-order {
  margin: auto;
  width: 12rem;
}

.signed-in-msg {
  height: 10rem;
  width: 15rem;
  margin: auto;
  display: flex;
  text-align: center;
  vertical-align: center;
}
.signed-in-msg > div {
  width: 15rem;
  height: 5rem;
}

.delete-trash-container {
  display: flex;
  justify-content: center;
}

.orders {
  width: 70rem;
  height: 20rem;
  border: 2px solid grey;
  margin: 1rem auto;
}

.productOfTheMonth {
  width: 20rem;
  height: 15rem;
  border: 2px solid grey;
  margin: 1rem;
}

.productsList {
  width: 45rem;
  height: 15rem;
  border: 2px solid grey;
  margin: 1rem;
}

.container div {
  margin: auto;
}
