.container {
  display: flex;
  margin: auto;
  width: 80vw;
  justify-content: center;
}

.numberOfProducts {
  width: 20rem;
  height: 15rem;
  border: 2px solid grey;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}
.delete-trash {
  cursor: pointer;
}

.delete-trash-container {
  display: flex;
  justify-content: center;
}

.orders {
  width: 70rem;
  height: 20rem;
  border: 2px solid grey;
  margin: 1rem auto;
}

.productOfTheMonth {
  width: 20rem;
  height: 15rem;
  border: 2px solid grey;
  margin: 1rem;
}

.productsList {
  width: 45rem;
  height: 15rem;
  border: 2px solid grey;
  margin: 1rem;
}

.container div {
  margin: auto;
}
